<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Doggly</title>
        <link href="main.css" rel="stylesheet">
    </head>
    <body>
        <nav>
                <a href="/">Doggly</a>
                <a href="/signup">Sign Up</a>
                <a href="login">Log In</a>
                <a href="/logout">Log Out</a>
        </nav>

        <%= yield %>
    </body>
</html>