<h1>Sign Up</h1>
<% if flash[:error] %>
    <ol>
    <% flash[:error].each do |err| %>
        <li><%= err %></li>
    <% end %>
    </ol>
<% end %>

<form action='/signup' method="POST">
    <input type="text" placeholder="Name" name="user[name]">
    <input type="email" placeholder="Email" name="user[email]">
    <input type="password" placeholder="Password" name="user[password]">
    <input type="submit" value="Sign Up">
</form>